<style>
  .lg_tbl_heading {
    font-size: 15pt;
  }

  .md_tbl_heading{
    font-size: 8.5pt;
  }

  .sm_text {
    font-size: 9pt;
  }
  .verd{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
  }
</style>

<div class="verd">
  <div class="well name and field filters">
    <table>
      <th class="lg_tbl_heading">Select a field:</th>
      <th class="lg_tbl_heading">Select a well:</th>
      <tr>
        <td><SpotfireControl id="41fc853dd4154afca5f27e9ebc795de0" /></td>
        <td><SpotfireControl id="c23ed2c4f0f24b759fa9ed05f808e68c" /></td>
        <td></td>
      </tr>
    </table>
  </div>
  <div class="reset filters">
    <SpotfireControl id="6e543eee88784dd2a2d239aac0e39aaa" />
  </div>

  <div class="ProVe Analysis" style="padding-top: 15pt; padding-bottom: 10pt">
      <SpotfireControl id="d801b696ad4e4159b9539f8bdfd8db09" />
  </div>

  <div class="quarter half one">
    <SpotfireControl id="4fa05af95df949a198971407c4d11f8e" />
    <SpotfireControl id="db6d39ad42e1478398c97739a9f837c5" />
    <SpotfireControl id="5b91ab19bdf243138903539905a0d5e1" />
  </div>

  <div class = "re-draw" style="padding-top: 10pt">
    <SpotfireControl id="69547526a2484ac8b70437e5b99f9da8" />
  </div>

  <div class="other filter options">
    <h2>Other filter options:</h2>
    <p class="sm_text">Note: The only options that should be selected are Non-zero and Original.</p>
    <table>
      <th class="md_tbl_heading">Non-zero should be selected</th>
      <th class="md_tbl_heading">Original should be selected</th>
      <tr>
        <td>
            <SpotfireControl id="b2265ea4400f4892a2844125a0dedc84" />
        </td>
        <td>
            <SpotfireControl id="6dd93ff2728e4bae83c29e8b9d27a345" />
        </td>
      </tr>
    </table>
  </div>

</div>
