<style>
  .pad-top{
    padding-top: 10px;
  }

  .pad-bottom {
    padding-bottom: 10px;
  }

  .th-lg {
    font-size: 15pt;
  }

  .th-md {
    font-size: 9pt;
  }
</style>

<link href="/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
  <div class="row">
    <div class="col-2 Field-Well-Name-List">
      <pre style="font-family: Verdana; font-weight: bold; font-size: 15pt;">Select a field:       Select a well:</pre>
      <SpotfireControl id="a922395345104b79836c4e145ce01e2a" />
      <SpotfireControl id="45b61b9411674d0492c093eb15494863" />
    </div>

    <div class="col-2 Reset-Filters pad-bottom">
      <SpotfireControl id="d1ae13d80ccd4fd79da0cbacd67e7627" />
    </div>

    <div class="col-2 ProVe-Analysis pad-top pad-bottom">
      <SpotfireControl id="f1facc697f4a4eb8a8a850fbb74d0ef9" />
    </div>
  </div>

  <div class="row">
    <div class="col-2 Other-Filter-Options pad-top">
      <table class="table">
        <thead>
          <tr>
            <th class="th-lg">Other filter options:</th>
          </tr>
          <tr>
            <th class="th-md"> Note: The only options that should be selected are Non-Zero and Original</th>
          </tr>
        </thead>
        <tbody>
          <td>
            <SpotfireControl id="61bc71e63de64c5b82874d40f220a2fd" />
            <SpotfireControl id="f16869fd646e43a4b15fa14161845ff9" />
          </td>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-2 WEBSITE LINK">
      <a href="https://joseph-tripodi.github.io/prove-website/documentation.html"> Need help?</a>
    </div>

    <div class="col-2 Feedback pad-top">
      <a class="th-md" href="mailto:prove.analysis@gmail.com?Subject=Feedback">Send Feedback</a>
    </div>
    <div class="col-2 Error Messages pad-top">
      <a class="th-md" href="mailto:prove.analysis@gmail.com?Subject=Error%20Messages">Send Error messages</a>
      <p class="th-md">
        <b>* Copy the error message from spotfire and paste into email body.</b> <br>
        <em>** I am aware that it sometimes opens up two email windows, I must apologise<br> for that. but hopefully
        you will not have to use this very often.</em>
      </p>

    </div>
  </div>



</div>
