<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container-fluid">
  <SpotfireControl id="d801b696ad4e4159b9539f8bdfd8db09" /><br><br>
</div>

<div class="container-fluid">
  <table>
    <p class="h3">Type "Well Name" (include quoates):</p>
    <tr>
      <td><SpotfireControl id="c23ed2c4f0f24b759fa9ed05f808e68c" /></td>
    </tr>
  </table>
</div>

<div class="container-fluid">
  <h4>Other filter options:</h4>
  <p>Note: The only options that should be selected are Plot and Original.</p>
  <table>
    <th>Plot should be selected</th>
    <th>Original should be selected</th>
    <tr>
      <td>
          <SpotfireControl id="b2265ea4400f4892a2844125a0dedc84" />
      </td>
      <td>
          <SpotfireControl id="6dd93ff2728e4bae83c29e8b9d27a345" />
      </td>
    </tr>
  </table>
</div>